@charset "UTF-8";
/* CSS Document */
html {
  font-size: 62.5%;
}

@font-face {
	font-family: 'Times';
	src: url("../fonts/Times New Roman.ttf");
}

body {margin:0; padding:0; width: 100%; height: 100%;}

body{height: 4200px; background-color: #000000;font-family:Times;}
#input{display: none;}	/*ロード前は消す*/

*{color: aliceblue;}

/*ローディングアニメーション*/
.loader,
.loader:after {
  border-radius: 50%;
  width: 8em;
  height: 8em;
}
.loader {
  top:50%;
  left:50%;
  font-size: 10px;
  position: absolute;
  border-top: 0.35em solid rgba(255, 255, 255, 0.2);
  border-right: 0.35em solid #ffffff;
  border-bottom: 0.35em solid rgba(255, 255, 255, 0.2);
  border-left: 0.35em solid #ffffff;
  -webkit-animation: load8 3.0s infinite linear;
  animation: load8 3.0s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform:translate(-50%,-50%)rotate(0deg);
    transform:translate(-50%,-50%)rotate(0deg);
  }
  100% {
    -webkit-transform:translate(-50%,-50%)rotate(360deg);
    transform:translate(-50%,-50%)rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform:translate(-50%,-50%)rotate(0deg);
    transform:translate(-50%,-50%)rotate(0deg);
  }
  100% {
    -webkit-transform:translate(-50%,-50%)rotate(360deg);
    transform:translate(-50%,-50%)rotate(360deg);
  }
}

/*ロード画面*/
#load{
	visibility: visible;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 12;
	background-color:#000000;
	transition: ease 2s;
	pointer-events: none;
	opacity: 1;
}
#load.fade{
	opacity: 0;
	visibility: hidden;
}

/*背景*/
#img{display:none;}
#img_sp{display:none;}
@media (min-width: 769px) {
	#img{
		display:block;
		position: fixed;
		background-image: url("../image/メインビジュアル_web_軽量版.jpg");
		opacity: 0.7;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		width: 100vw;
		height:100vh
	}
}
@media (max-width: 769px){
	#img_sp{display:block;
		position: fixed;
		background-image: url("../image/visual_sp.png");
		opacity: 0.7;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		width: 100vw;
		height:100vh;
	}
}
/*重ね順*/
#z-index0{z-index: 0;}/*開始概要*/
#z-index1{z-index: 1;}/*意匠展ロゴ*/
#z-index5{z-index: 5;}/*concept*/
#z-index11{z-index: 11;}/*what*/

/*意匠展ロゴ*/
.ishouten img{width: 30vh;}
.ishouten{
	font-size: 3.0em;
	text-align: center;
	top: 50%;
	width: 100%;
	position: fixed;
	transform: translateY(-50%); 
}
.ishouten img{transition: ease 2.0s;}	/*2秒かけて動く*/
.ishoutenS img{transform: translateY(-20vh)scale(1.5,1.5);}	/*上に50px移動、1.5倍拡大 1900pxまでスクロールすると追加される*/

/*開催概要*/
.info{
	text-align: center;
	top: 87%;
	left: 50%;
	position: fixed;
	width: 40%;
    	transform: translate(-50%, 0);
}
.info {transition: ease 2.0s;opacity: 0;filter: blur(8px);letter-spacing: 5px;}	/*2秒掛けでぼかしが消え、100px上に移動*/	
.infoS {transform: translate(-50%,-29vh); opacity:1;filter: blur(0px);} 			/*2250pxまでスクロールで追加*/	

.sns img{
	height: 4vh; margin: 15px;
	bottom:10%;
}
.sns{
	margin-top:1.5rem;
}
.icon:hover{opacity: 0.7;}

/*depth*/
#log{z-index: 13;}
.sink{
	position: fixed;
	text-align: center;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 85%;
	width: 100%;
	pointer-events: none;
}
.sink div{transition: ease 2.0s;}
.log2 div{transform: translate(0.5vw,-36vh)scale(3.5,3.5);} 	/*2021pxまでスクロールで追加*/

#log0{
	margin-right: 2.5vw;
	margin-left: 2.5vw;
	letter-spacing: 0.5rem;
}
.sink h2{width: 100px;}
.sink h1{width: 100px;}
/*'depth'と'm'*/
.depth{
	font-size: 2vh;
	display: inline-block;
	opacity: 1;
	transition: ease 2s;
	letter-spacing: 0.2rem;
	font-weight: 100;
}
.depout h1{opacity:0;} 	/*2021pxスクロールで'depth'と'm'を消す*/

/*concept,what*/
.layer{
	height: 100%;
	position: relative;
	position: fixed;
	width: 100%;
}
#concept{
	width: 48rem;
	position: absolute;
	top: 50%;
	left: 3%;
	transform: translate(0%,-50%);
}
#what{
	width: 28rem;
	position: absolute;
	top: 50%;
	right: 8%;
	transform: translate(0%,-50%);
}

/*画像pc用*/
.img_pc {
	display: block;
}
.img_sp {
	display: none;
}

/*スマホ用(縦長のとき)*/
@media (orientation: portrait) {
	/*画像*/
	.img_pc {
		display: none;
	}
	.img_sp {
		display: block;
	}
	/*意匠展ロゴ*/
	.ishouten img{
		width: 40vw;
	}
	.ishoutenS img{transform: translateY(-24vh)scale(1.5,1.5);}
	/*depth*/
    	.sink{
		left: 50%;
        	top: 90%;
    	}
	.depth{
		font-size: 2vh;
       		margin-right: 1vw;
	    	margin-left: 1vw;
	}
	.depth_m{margin-left: -3vw;}
	.log2 div{
		transform: translate(-3vw,-46vh)scale(2, 2);
	}
	/*concept, what*/
    	#concept {
		width: 70%;
		position: absolute;
		top: 48%;
    		left: 50%;
		transform: translate(-50%,-50%);
	}
	#what {
		width: 70%;
		position: absolute;
		top: 50%;
    		left: 50%;
		transform: translate(-50%,-50%);
	}
	/*開催概要*/
	.info{
		width: 60%;
	}
	.infoS {transform: translate(-50%,-141%); opacity:1;filter: blur(0px);}
}
